.sign-up-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.sign-in {
  height: 50px;
  left: 93px;
  position: absolute;
  top: 523px;
  width: 165px;
}

.overlap-group {
  background-color: #01a2cb;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 163px;
}

.text-wrapper {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 86px;
}

.text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 481px;
}

.sign-up {
  height: 50px;
  left: 167px;
  position: absolute;
  top: 412px;
  width: 165px;
}

.cancel {
  height: 50px;
  left: 30px;
  position: absolute;
  top: 412px;
  width: 120px;
}

.overlap {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 118px;
}

.text-wrapper-3 {
  color: #01a2cb;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
}

.password {
  height: 71px;
  left: 30px;
  position: absolute;
  top: 300px;
  width: 306px;
}

.p {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.div-wrapper {
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 300px;
}

.text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.email {
  height: 58px;
  left: 30px;
  position: absolute;
  top: 227px;
  width: 304px;
}

.user-name {
  height: 71px;
  left: 30px;
  position: absolute;
  top: 145px;
  width: 306px;
}

.text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 69px;
  white-space: nowrap;
}
